<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div class="list-group-horizontal">
  <% @posts.each do |post| %>
    <span class="list-group-item mt-4">
      <%= render post %>
      <%= link_to "Edit this post", edit_post_path(post) %>
      <%= link_to "Delete this post", post_path(post), data: { "turbo-method": :delete }  %>
    </span>
  <% end %>
</div>

<%= link_to "New post", new_post_path, class:'btn btn-primary mt-4' %>
